<launch>
         <arg name="camera_link_pose" default="1.33452 -0.753378 0.267386 2.36841 0.102192 -0.04317"/>
	<include file="$(find openni2_launch)/launch/openni2.launch">
         </include>
         <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
               args="$(arg camera_link_pose) /base /camera_link 100" />
	
</launch>
